.watermark {
    position: absolute;
    left: -50px;
    opacity: 0.3;
}
.watermark .blue {
    background: #006FAC;
    width: 150px;
    height: 35px;
    transform: rotateZ(-15deg);
    margin: 15px 0;
}
.watermark .red {
    background: #B13026;
    width: 150px;
    height: 35px;
    transform: rotateZ(-15deg);
    margin: 15px 0;
}
.watermark .green {
    background: #00672E;
    width: 150px;
    height: 35px;
    transform: rotateZ(-15deg);
    margin: 15px 0;
}